{
  "extends": [
    "airbnb-base",
    'plugin:flowtype/recommended',
    "plugin:ava/recommended"
  ],
  "plugins": [
    "flowtype",
    "import",
    "ava"
  ],
  "parser": "babel-eslint",
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true,
    }
  }
}
